    /*
    Flaticon icon font: Flaticon
    Creation date: 10/10/2016 12:23
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-allen:before { content: "\f100"; }
.flaticon-allen-1:before { content: "\f101"; }
.flaticon-allen-2:before { content: "\f102"; }
.flaticon-anvil:before { content: "\f103"; }
.flaticon-axe:before { content: "\f104"; }
.flaticon-barrier:before { content: "\f105"; }
.flaticon-battery:before { content: "\f106"; }
.flaticon-battery-1:before { content: "\f107"; }
.flaticon-board:before { content: "\f108"; }
.flaticon-brace:before { content: "\f109"; }
.flaticon-brick-wall:before { content: "\f10a"; }
.flaticon-brick-wall-1:before { content: "\f10b"; }
.flaticon-brick-wall-2:before { content: "\f10c"; }
.flaticon-brick-wall-3:before { content: "\f10d"; }
.flaticon-bucket:before { content: "\f10e"; }
.flaticon-bucket-1:before { content: "\f10f"; }
.flaticon-caulk-gun:before { content: "\f110"; }
.flaticon-chainsaw:before { content: "\f111"; }
.flaticon-chisel:before { content: "\f112"; }
.flaticon-concrete-mixer:before { content: "\f113"; }
.flaticon-cone:before { content: "\f114"; }
.flaticon-construction:before { content: "\f115"; }
.flaticon-construction-1:before { content: "\f116"; }
.flaticon-crane:before { content: "\f117"; }
.flaticon-crane-1:before { content: "\f118"; }
.flaticon-cutter:before { content: "\f119"; }
.flaticon-door:before { content: "\f11a"; }
.flaticon-door-1:before { content: "\f11b"; }
.flaticon-door-2:before { content: "\f11c"; }
.flaticon-door-3:before { content: "\f11d"; }
.flaticon-drawing:before { content: "\f11e"; }
.flaticon-drawing-1:before { content: "\f11f"; }
.flaticon-drill:before { content: "\f120"; }
.flaticon-drill-1:before { content: "\f121"; }
.flaticon-drill-2:before { content: "\f122"; }
.flaticon-drill-3:before { content: "\f123"; }
.flaticon-electric-tower:before { content: "\f124"; }
.flaticon-electric-tower-1:before { content: "\f125"; }
.flaticon-electricity:before { content: "\f126"; }
.flaticon-engineer:before { content: "\f127"; }
.flaticon-eolic-energy:before { content: "\f128"; }
.flaticon-flash:before { content: "\f129"; }
.flaticon-flashlight:before { content: "\f12a"; }
.flaticon-garage:before { content: "\f12b"; }
.flaticon-gas-pipe:before { content: "\f12c"; }
.flaticon-gas-pipe-1:before { content: "\f12d"; }
.flaticon-gas-pipe-2:before { content: "\f12e"; }
.flaticon-gas-pipe-3:before { content: "\f12f"; }
.flaticon-gas-pipe-4:before { content: "\f130"; }
.flaticon-gas-pipe-5:before { content: "\f131"; }
.flaticon-gas-pipe-6:before { content: "\f132"; }
.flaticon-gas-pipe-7:before { content: "\f133"; }
.flaticon-gas-pipe-8:before { content: "\f134"; }
.flaticon-glass-wall:before { content: "\f135"; }
.flaticon-hammer:before { content: "\f136"; }
.flaticon-hammer-1:before { content: "\f137"; }
.flaticon-hammer-2:before { content: "\f138"; }
.flaticon-hammer-3:before { content: "\f139"; }
.flaticon-hammer-4:before { content: "\f13a"; }
.flaticon-hammer-5:before { content: "\f13b"; }
.flaticon-helmet:before { content: "\f13c"; }
.flaticon-hook:before { content: "\f13d"; }
.flaticon-hydrant:before { content: "\f13e"; }
.flaticon-jackhammer:before { content: "\f13f"; }
.flaticon-jigsaw:before { content: "\f140"; }
.flaticon-knife:before { content: "\f141"; }
.flaticon-ladder:before { content: "\f142"; }
.flaticon-ladder-1:before { content: "\f143"; }
.flaticon-ladder-2:before { content: "\f144"; }
.flaticon-ladder-3:before { content: "\f145"; }
.flaticon-ladder-4:before { content: "\f146"; }
.flaticon-level:before { content: "\f147"; }
.flaticon-light-bulb:before { content: "\f148"; }
.flaticon-light-bulb-1:before { content: "\f149"; }
.flaticon-light-bulb-10:before { content: "\f14a"; }
.flaticon-light-bulb-11:before { content: "\f14b"; }
.flaticon-light-bulb-12:before { content: "\f14c"; }
.flaticon-light-bulb-13:before { content: "\f14d"; }
.flaticon-light-bulb-2:before { content: "\f14e"; }
.flaticon-light-bulb-3:before { content: "\f14f"; }
.flaticon-light-bulb-4:before { content: "\f150"; }
.flaticon-light-bulb-5:before { content: "\f151"; }
.flaticon-light-bulb-6:before { content: "\f152"; }
.flaticon-light-bulb-7:before { content: "\f153"; }
.flaticon-light-bulb-8:before { content: "\f154"; }
.flaticon-light-bulb-9:before { content: "\f155"; }
.flaticon-loader:before { content: "\f156"; }
.flaticon-log:before { content: "\f157"; }
.flaticon-log-1:before { content: "\f158"; }
.flaticon-log-2:before { content: "\f159"; }
.flaticon-measuring-tape:before { content: "\f15a"; }
.flaticon-nail:before { content: "\f15b"; }
.flaticon-nail-gun:before { content: "\f15c"; }
.flaticon-nails:before { content: "\f15d"; }
.flaticon-nails-1:before { content: "\f15e"; }
.flaticon-paint-brush:before { content: "\f15f"; }
.flaticon-paint-brush-1:before { content: "\f160"; }
.flaticon-paint-brush-10:before { content: "\f161"; }
.flaticon-paint-brush-11:before { content: "\f162"; }
.flaticon-paint-brush-12:before { content: "\f163"; }
.flaticon-paint-brush-2:before { content: "\f164"; }
.flaticon-paint-brush-3:before { content: "\f165"; }
.flaticon-paint-brush-4:before { content: "\f166"; }
.flaticon-paint-brush-5:before { content: "\f167"; }
.flaticon-paint-brush-6:before { content: "\f168"; }
.flaticon-paint-brush-7:before { content: "\f169"; }
.flaticon-paint-brush-8:before { content: "\f16a"; }
.flaticon-paint-brush-9:before { content: "\f16b"; }
.flaticon-paint-roller:before { content: "\f16c"; }
.flaticon-paint-roller-1:before { content: "\f16d"; }
.flaticon-paint-roller-2:before { content: "\f16e"; }
.flaticon-pantone:before { content: "\f16f"; }
.flaticon-parquet:before { content: "\f170"; }
.flaticon-parquet-1:before { content: "\f171"; }
.flaticon-pipe:before { content: "\f172"; }
.flaticon-pipe-1:before { content: "\f173"; }
.flaticon-pipe-10:before { content: "\f174"; }
.flaticon-pipe-11:before { content: "\f175"; }
.flaticon-pipe-2:before { content: "\f176"; }
.flaticon-pipe-3:before { content: "\f177"; }
.flaticon-pipe-4:before { content: "\f178"; }
.flaticon-pipe-5:before { content: "\f179"; }
.flaticon-pipe-6:before { content: "\f17a"; }
.flaticon-pipe-7:before { content: "\f17b"; }
.flaticon-pipe-8:before { content: "\f17c"; }
.flaticon-pipe-9:before { content: "\f17d"; }
.flaticon-plier:before { content: "\f17e"; }
.flaticon-plier-1:before { content: "\f17f"; }
.flaticon-plier-2:before { content: "\f180"; }
.flaticon-plier-3:before { content: "\f181"; }
.flaticon-plier-4:before { content: "\f182"; }
.flaticon-plug:before { content: "\f183"; }
.flaticon-plug-1:before { content: "\f184"; }
.flaticon-plug-2:before { content: "\f185"; }
.flaticon-plug-3:before { content: "\f186"; }
.flaticon-plug-4:before { content: "\f187"; }
.flaticon-plug-5:before { content: "\f188"; }
.flaticon-plumbering:before { content: "\f189"; }
.flaticon-plumbering-1:before { content: "\f18a"; }
.flaticon-rake:before { content: "\f18b"; }
.flaticon-rake-1:before { content: "\f18c"; }
.flaticon-rake-2:before { content: "\f18d"; }
.flaticon-relief-valve:before { content: "\f18e"; }
.flaticon-relief-valve-1:before { content: "\f18f"; }
.flaticon-relief-valve-2:before { content: "\f190"; }
.flaticon-roof:before { content: "\f191"; }
.flaticon-ruler:before { content: "\f192"; }
.flaticon-ruler-1:before { content: "\f193"; }
.flaticon-ruler-2:before { content: "\f194"; }
.flaticon-ruler-3:before { content: "\f195"; }
.flaticon-ruler-4:before { content: "\f196"; }
.flaticon-ruler-5:before { content: "\f197"; }
.flaticon-saw:before { content: "\f198"; }
.flaticon-saw-1:before { content: "\f199"; }
.flaticon-saw-2:before { content: "\f19a"; }
.flaticon-saw-3:before { content: "\f19b"; }
.flaticon-saw-4:before { content: "\f19c"; }
.flaticon-saw-5:before { content: "\f19d"; }
.flaticon-screw:before { content: "\f19e"; }
.flaticon-screw-1:before { content: "\f19f"; }
.flaticon-screw-2:before { content: "\f1a0"; }
.flaticon-screw-3:before { content: "\f1a1"; }
.flaticon-screw-4:before { content: "\f1a2"; }
.flaticon-screw-5:before { content: "\f1a3"; }
.flaticon-screwdriver:before { content: "\f1a4"; }
.flaticon-screwdriver-1:before { content: "\f1a5"; }
.flaticon-screwdriver-2:before { content: "\f1a6"; }
.flaticon-screwdriver-3:before { content: "\f1a7"; }
.flaticon-screwdriver-4:before { content: "\f1a8"; }
.flaticon-screwdriver-5:before { content: "\f1a9"; }
.flaticon-screws:before { content: "\f1aa"; }
.flaticon-screws-1:before { content: "\f1ab"; }
.flaticon-scythe:before { content: "\f1ac"; }
.flaticon-shovel:before { content: "\f1ad"; }
.flaticon-shovel-1:before { content: "\f1ae"; }
.flaticon-shovel-2:before { content: "\f1af"; }
.flaticon-shovel-3:before { content: "\f1b0"; }
.flaticon-shovel-4:before { content: "\f1b1"; }
.flaticon-socket:before { content: "\f1b2"; }
.flaticon-socket-1:before { content: "\f1b3"; }
.flaticon-socket-10:before { content: "\f1b4"; }
.flaticon-socket-11:before { content: "\f1b5"; }
.flaticon-socket-12:before { content: "\f1b6"; }
.flaticon-socket-13:before { content: "\f1b7"; }
.flaticon-socket-14:before { content: "\f1b8"; }
.flaticon-socket-15:before { content: "\f1b9"; }
.flaticon-socket-16:before { content: "\f1ba"; }
.flaticon-socket-17:before { content: "\f1bb"; }
.flaticon-socket-18:before { content: "\f1bc"; }
.flaticon-socket-19:before { content: "\f1bd"; }
.flaticon-socket-2:before { content: "\f1be"; }
.flaticon-socket-3:before { content: "\f1bf"; }
.flaticon-socket-4:before { content: "\f1c0"; }
.flaticon-socket-5:before { content: "\f1c1"; }
.flaticon-socket-6:before { content: "\f1c2"; }
.flaticon-socket-7:before { content: "\f1c3"; }
.flaticon-socket-8:before { content: "\f1c4"; }
.flaticon-socket-9:before { content: "\f1c5"; }
.flaticon-spray:before { content: "\f1c6"; }
.flaticon-spray-gun:before { content: "\f1c7"; }
.flaticon-swiss-army-knife:before { content: "\f1c8"; }
.flaticon-swiss-army-knife-1:before { content: "\f1c9"; }
.flaticon-swiss-army-knife-2:before { content: "\f1ca"; }
.flaticon-swiss-army-knife-3:before { content: "\f1cb"; }
.flaticon-swiss-army-knife-4:before { content: "\f1cc"; }
.flaticon-swiss-army-knife-5:before { content: "\f1cd"; }
.flaticon-switch:before { content: "\f1ce"; }
.flaticon-switch-1:before { content: "\f1cf"; }
.flaticon-switch-2:before { content: "\f1d0"; }
.flaticon-switch-3:before { content: "\f1d1"; }
.flaticon-switch-4:before { content: "\f1d2"; }
.flaticon-switch-5:before { content: "\f1d3"; }
.flaticon-switch-6:before { content: "\f1d4"; }
.flaticon-switch-7:before { content: "\f1d5"; }
.flaticon-tap:before { content: "\f1d6"; }
.flaticon-tap-1:before { content: "\f1d7"; }
.flaticon-tap-2:before { content: "\f1d8"; }
.flaticon-tiles:before { content: "\f1d9"; }
.flaticon-toolbox:before { content: "\f1da"; }
.flaticon-toolbox-1:before { content: "\f1db"; }
.flaticon-tools:before { content: "\f1dc"; }
.flaticon-tools-1:before { content: "\f1dd"; }
.flaticon-tools-2:before { content: "\f1de"; }
.flaticon-tools-3:before { content: "\f1df"; }
.flaticon-trowel:before { content: "\f1e0"; }
.flaticon-trowel-1:before { content: "\f1e1"; }
.flaticon-trowel-2:before { content: "\f1e2"; }
.flaticon-trowel-3:before { content: "\f1e3"; }
.flaticon-trowel-4:before { content: "\f1e4"; }
.flaticon-vest:before { content: "\f1e5"; }
.flaticon-vise:before { content: "\f1e6"; }
.flaticon-vise-1:before { content: "\f1e7"; }
.flaticon-vise-2:before { content: "\f1e8"; }
.flaticon-vise-3:before { content: "\f1e9"; }
.flaticon-vise-4:before { content: "\f1ea"; }
.flaticon-voltmeter:before { content: "\f1eb"; }
.flaticon-voltmeter-1:before { content: "\f1ec"; }
.flaticon-voltmeter-2:before { content: "\f1ed"; }
.flaticon-voltmeter-3:before { content: "\f1ee"; }
.flaticon-wall-plug:before { content: "\f1ef"; }
.flaticon-wallpaper:before { content: "\f1f0"; }
.flaticon-wheelbarrow:before { content: "\f1f1"; }
.flaticon-window:before { content: "\f1f2"; }
.flaticon-window-1:before { content: "\f1f3"; }
.flaticon-window-2:before { content: "\f1f4"; }
.flaticon-window-3:before { content: "\f1f5"; }
.flaticon-window-4:before { content: "\f1f6"; }
.flaticon-wood:before { content: "\f1f7"; }
.flaticon-wood-1:before { content: "\f1f8"; }
.flaticon-woodcutter:before { content: "\f1f9"; }
.flaticon-wrench:before { content: "\f1fa"; }
.flaticon-wrench-1:before { content: "\f1fb"; }
.flaticon-wrench-2:before { content: "\f1fc"; }
.flaticon-wrench-3:before { content: "\f1fd"; }
.flaticon-wrench-4:before { content: "\f1fe"; }
.flaticon-wrench-5:before { content: "\f1ff"; }
.flaticon-wrench-6:before { content: "\f200"; }
.flaticon-wrench-7:before { content: "\f201"; }
.flaticon-wrench-8:before { content: "\f202"; }
.flaticon-wrench-9:before { content: "\f203"; }
    
    $font-Flaticon-allen: "\f100";
    $font-Flaticon-allen-1: "\f101";
    $font-Flaticon-allen-2: "\f102";
    $font-Flaticon-anvil: "\f103";
    $font-Flaticon-axe: "\f104";
    $font-Flaticon-barrier: "\f105";
    $font-Flaticon-battery: "\f106";
    $font-Flaticon-battery-1: "\f107";
    $font-Flaticon-board: "\f108";
    $font-Flaticon-brace: "\f109";
    $font-Flaticon-brick-wall: "\f10a";
    $font-Flaticon-brick-wall-1: "\f10b";
    $font-Flaticon-brick-wall-2: "\f10c";
    $font-Flaticon-brick-wall-3: "\f10d";
    $font-Flaticon-bucket: "\f10e";
    $font-Flaticon-bucket-1: "\f10f";
    $font-Flaticon-caulk-gun: "\f110";
    $font-Flaticon-chainsaw: "\f111";
    $font-Flaticon-chisel: "\f112";
    $font-Flaticon-concrete-mixer: "\f113";
    $font-Flaticon-cone: "\f114";
    $font-Flaticon-construction: "\f115";
    $font-Flaticon-construction-1: "\f116";
    $font-Flaticon-crane: "\f117";
    $font-Flaticon-crane-1: "\f118";
    $font-Flaticon-cutter: "\f119";
    $font-Flaticon-door: "\f11a";
    $font-Flaticon-door-1: "\f11b";
    $font-Flaticon-door-2: "\f11c";
    $font-Flaticon-door-3: "\f11d";
    $font-Flaticon-drawing: "\f11e";
    $font-Flaticon-drawing-1: "\f11f";
    $font-Flaticon-drill: "\f120";
    $font-Flaticon-drill-1: "\f121";
    $font-Flaticon-drill-2: "\f122";
    $font-Flaticon-drill-3: "\f123";
    $font-Flaticon-electric-tower: "\f124";
    $font-Flaticon-electric-tower-1: "\f125";
    $font-Flaticon-electricity: "\f126";
    $font-Flaticon-engineer: "\f127";
    $font-Flaticon-eolic-energy: "\f128";
    $font-Flaticon-flash: "\f129";
    $font-Flaticon-flashlight: "\f12a";
    $font-Flaticon-garage: "\f12b";
    $font-Flaticon-gas-pipe: "\f12c";
    $font-Flaticon-gas-pipe-1: "\f12d";
    $font-Flaticon-gas-pipe-2: "\f12e";
    $font-Flaticon-gas-pipe-3: "\f12f";
    $font-Flaticon-gas-pipe-4: "\f130";
    $font-Flaticon-gas-pipe-5: "\f131";
    $font-Flaticon-gas-pipe-6: "\f132";
    $font-Flaticon-gas-pipe-7: "\f133";
    $font-Flaticon-gas-pipe-8: "\f134";
    $font-Flaticon-glass-wall: "\f135";
    $font-Flaticon-hammer: "\f136";
    $font-Flaticon-hammer-1: "\f137";
    $font-Flaticon-hammer-2: "\f138";
    $font-Flaticon-hammer-3: "\f139";
    $font-Flaticon-hammer-4: "\f13a";
    $font-Flaticon-hammer-5: "\f13b";
    $font-Flaticon-helmet: "\f13c";
    $font-Flaticon-hook: "\f13d";
    $font-Flaticon-hydrant: "\f13e";
    $font-Flaticon-jackhammer: "\f13f";
    $font-Flaticon-jigsaw: "\f140";
    $font-Flaticon-knife: "\f141";
    $font-Flaticon-ladder: "\f142";
    $font-Flaticon-ladder-1: "\f143";
    $font-Flaticon-ladder-2: "\f144";
    $font-Flaticon-ladder-3: "\f145";
    $font-Flaticon-ladder-4: "\f146";
    $font-Flaticon-level: "\f147";
    $font-Flaticon-light-bulb: "\f148";
    $font-Flaticon-light-bulb-1: "\f149";
    $font-Flaticon-light-bulb-10: "\f14a";
    $font-Flaticon-light-bulb-11: "\f14b";
    $font-Flaticon-light-bulb-12: "\f14c";
    $font-Flaticon-light-bulb-13: "\f14d";
    $font-Flaticon-light-bulb-2: "\f14e";
    $font-Flaticon-light-bulb-3: "\f14f";
    $font-Flaticon-light-bulb-4: "\f150";
    $font-Flaticon-light-bulb-5: "\f151";
    $font-Flaticon-light-bulb-6: "\f152";
    $font-Flaticon-light-bulb-7: "\f153";
    $font-Flaticon-light-bulb-8: "\f154";
    $font-Flaticon-light-bulb-9: "\f155";
    $font-Flaticon-loader: "\f156";
    $font-Flaticon-log: "\f157";
    $font-Flaticon-log-1: "\f158";
    $font-Flaticon-log-2: "\f159";
    $font-Flaticon-measuring-tape: "\f15a";
    $font-Flaticon-nail: "\f15b";
    $font-Flaticon-nail-gun: "\f15c";
    $font-Flaticon-nails: "\f15d";
    $font-Flaticon-nails-1: "\f15e";
    $font-Flaticon-paint-brush: "\f15f";
    $font-Flaticon-paint-brush-1: "\f160";
    $font-Flaticon-paint-brush-10: "\f161";
    $font-Flaticon-paint-brush-11: "\f162";
    $font-Flaticon-paint-brush-12: "\f163";
    $font-Flaticon-paint-brush-2: "\f164";
    $font-Flaticon-paint-brush-3: "\f165";
    $font-Flaticon-paint-brush-4: "\f166";
    $font-Flaticon-paint-brush-5: "\f167";
    $font-Flaticon-paint-brush-6: "\f168";
    $font-Flaticon-paint-brush-7: "\f169";
    $font-Flaticon-paint-brush-8: "\f16a";
    $font-Flaticon-paint-brush-9: "\f16b";
    $font-Flaticon-paint-roller: "\f16c";
    $font-Flaticon-paint-roller-1: "\f16d";
    $font-Flaticon-paint-roller-2: "\f16e";
    $font-Flaticon-pantone: "\f16f";
    $font-Flaticon-parquet: "\f170";
    $font-Flaticon-parquet-1: "\f171";
    $font-Flaticon-pipe: "\f172";
    $font-Flaticon-pipe-1: "\f173";
    $font-Flaticon-pipe-10: "\f174";
    $font-Flaticon-pipe-11: "\f175";
    $font-Flaticon-pipe-2: "\f176";
    $font-Flaticon-pipe-3: "\f177";
    $font-Flaticon-pipe-4: "\f178";
    $font-Flaticon-pipe-5: "\f179";
    $font-Flaticon-pipe-6: "\f17a";
    $font-Flaticon-pipe-7: "\f17b";
    $font-Flaticon-pipe-8: "\f17c";
    $font-Flaticon-pipe-9: "\f17d";
    $font-Flaticon-plier: "\f17e";
    $font-Flaticon-plier-1: "\f17f";
    $font-Flaticon-plier-2: "\f180";
    $font-Flaticon-plier-3: "\f181";
    $font-Flaticon-plier-4: "\f182";
    $font-Flaticon-plug: "\f183";
    $font-Flaticon-plug-1: "\f184";
    $font-Flaticon-plug-2: "\f185";
    $font-Flaticon-plug-3: "\f186";
    $font-Flaticon-plug-4: "\f187";
    $font-Flaticon-plug-5: "\f188";
    $font-Flaticon-plumbering: "\f189";
    $font-Flaticon-plumbering-1: "\f18a";
    $font-Flaticon-rake: "\f18b";
    $font-Flaticon-rake-1: "\f18c";
    $font-Flaticon-rake-2: "\f18d";
    $font-Flaticon-relief-valve: "\f18e";
    $font-Flaticon-relief-valve-1: "\f18f";
    $font-Flaticon-relief-valve-2: "\f190";
    $font-Flaticon-roof: "\f191";
    $font-Flaticon-ruler: "\f192";
    $font-Flaticon-ruler-1: "\f193";
    $font-Flaticon-ruler-2: "\f194";
    $font-Flaticon-ruler-3: "\f195";
    $font-Flaticon-ruler-4: "\f196";
    $font-Flaticon-ruler-5: "\f197";
    $font-Flaticon-saw: "\f198";
    $font-Flaticon-saw-1: "\f199";
    $font-Flaticon-saw-2: "\f19a";
    $font-Flaticon-saw-3: "\f19b";
    $font-Flaticon-saw-4: "\f19c";
    $font-Flaticon-saw-5: "\f19d";
    $font-Flaticon-screw: "\f19e";
    $font-Flaticon-screw-1: "\f19f";
    $font-Flaticon-screw-2: "\f1a0";
    $font-Flaticon-screw-3: "\f1a1";
    $font-Flaticon-screw-4: "\f1a2";
    $font-Flaticon-screw-5: "\f1a3";
    $font-Flaticon-screwdriver: "\f1a4";
    $font-Flaticon-screwdriver-1: "\f1a5";
    $font-Flaticon-screwdriver-2: "\f1a6";
    $font-Flaticon-screwdriver-3: "\f1a7";
    $font-Flaticon-screwdriver-4: "\f1a8";
    $font-Flaticon-screwdriver-5: "\f1a9";
    $font-Flaticon-screws: "\f1aa";
    $font-Flaticon-screws-1: "\f1ab";
    $font-Flaticon-scythe: "\f1ac";
    $font-Flaticon-shovel: "\f1ad";
    $font-Flaticon-shovel-1: "\f1ae";
    $font-Flaticon-shovel-2: "\f1af";
    $font-Flaticon-shovel-3: "\f1b0";
    $font-Flaticon-shovel-4: "\f1b1";
    $font-Flaticon-socket: "\f1b2";
    $font-Flaticon-socket-1: "\f1b3";
    $font-Flaticon-socket-10: "\f1b4";
    $font-Flaticon-socket-11: "\f1b5";
    $font-Flaticon-socket-12: "\f1b6";
    $font-Flaticon-socket-13: "\f1b7";
    $font-Flaticon-socket-14: "\f1b8";
    $font-Flaticon-socket-15: "\f1b9";
    $font-Flaticon-socket-16: "\f1ba";
    $font-Flaticon-socket-17: "\f1bb";
    $font-Flaticon-socket-18: "\f1bc";
    $font-Flaticon-socket-19: "\f1bd";
    $font-Flaticon-socket-2: "\f1be";
    $font-Flaticon-socket-3: "\f1bf";
    $font-Flaticon-socket-4: "\f1c0";
    $font-Flaticon-socket-5: "\f1c1";
    $font-Flaticon-socket-6: "\f1c2";
    $font-Flaticon-socket-7: "\f1c3";
    $font-Flaticon-socket-8: "\f1c4";
    $font-Flaticon-socket-9: "\f1c5";
    $font-Flaticon-spray: "\f1c6";
    $font-Flaticon-spray-gun: "\f1c7";
    $font-Flaticon-swiss-army-knife: "\f1c8";
    $font-Flaticon-swiss-army-knife-1: "\f1c9";
    $font-Flaticon-swiss-army-knife-2: "\f1ca";
    $font-Flaticon-swiss-army-knife-3: "\f1cb";
    $font-Flaticon-swiss-army-knife-4: "\f1cc";
    $font-Flaticon-swiss-army-knife-5: "\f1cd";
    $font-Flaticon-switch: "\f1ce";
    $font-Flaticon-switch-1: "\f1cf";
    $font-Flaticon-switch-2: "\f1d0";
    $font-Flaticon-switch-3: "\f1d1";
    $font-Flaticon-switch-4: "\f1d2";
    $font-Flaticon-switch-5: "\f1d3";
    $font-Flaticon-switch-6: "\f1d4";
    $font-Flaticon-switch-7: "\f1d5";
    $font-Flaticon-tap: "\f1d6";
    $font-Flaticon-tap-1: "\f1d7";
    $font-Flaticon-tap-2: "\f1d8";
    $font-Flaticon-tiles: "\f1d9";
    $font-Flaticon-toolbox: "\f1da";
    $font-Flaticon-toolbox-1: "\f1db";
    $font-Flaticon-tools: "\f1dc";
    $font-Flaticon-tools-1: "\f1dd";
    $font-Flaticon-tools-2: "\f1de";
    $font-Flaticon-tools-3: "\f1df";
    $font-Flaticon-trowel: "\f1e0";
    $font-Flaticon-trowel-1: "\f1e1";
    $font-Flaticon-trowel-2: "\f1e2";
    $font-Flaticon-trowel-3: "\f1e3";
    $font-Flaticon-trowel-4: "\f1e4";
    $font-Flaticon-vest: "\f1e5";
    $font-Flaticon-vise: "\f1e6";
    $font-Flaticon-vise-1: "\f1e7";
    $font-Flaticon-vise-2: "\f1e8";
    $font-Flaticon-vise-3: "\f1e9";
    $font-Flaticon-vise-4: "\f1ea";
    $font-Flaticon-voltmeter: "\f1eb";
    $font-Flaticon-voltmeter-1: "\f1ec";
    $font-Flaticon-voltmeter-2: "\f1ed";
    $font-Flaticon-voltmeter-3: "\f1ee";
    $font-Flaticon-wall-plug: "\f1ef";
    $font-Flaticon-wallpaper: "\f1f0";
    $font-Flaticon-wheelbarrow: "\f1f1";
    $font-Flaticon-window: "\f1f2";
    $font-Flaticon-window-1: "\f1f3";
    $font-Flaticon-window-2: "\f1f4";
    $font-Flaticon-window-3: "\f1f5";
    $font-Flaticon-window-4: "\f1f6";
    $font-Flaticon-wood: "\f1f7";
    $font-Flaticon-wood-1: "\f1f8";
    $font-Flaticon-woodcutter: "\f1f9";
    $font-Flaticon-wrench: "\f1fa";
    $font-Flaticon-wrench-1: "\f1fb";
    $font-Flaticon-wrench-2: "\f1fc";
    $font-Flaticon-wrench-3: "\f1fd";
    $font-Flaticon-wrench-4: "\f1fe";
    $font-Flaticon-wrench-5: "\f1ff";
    $font-Flaticon-wrench-6: "\f200";
    $font-Flaticon-wrench-7: "\f201";
    $font-Flaticon-wrench-8: "\f202";
    $font-Flaticon-wrench-9: "\f203";