@import "../../../../scss/config/colors";

.Footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;

  * {
    color: $customBlack;
  }

  i {
    font-size: 20px;
    margin-bottom: 15px;

    @media (min-width: 768px) {
      font-size: 30px;
    }
  }
}
