@font-face {
  font-family: "Quicksand";
  font-weight: normal;
  font-style: normal;
  src: url("./assets/fonts/quicksand/Quicksand-Regular.ttf");
}

@font-face {
  font-family: "Quicksand";
  font-weight: bold;
  font-style: normal;
  src: url("./assets/fonts/quicksand/Quicksand-Bold.ttf");
}

@font-face {
  font-family: "Quicksand";
  font-weight: lighter;
  font-style: normal;
  src: url("./assets/fonts/quicksand/Quicksand-Light.ttf");
}

@font-face {
  font-family: "Quicksand";
  font-weight: bolder;
  font-style: normal;
  src: url("./assets/fonts/quicksand/Quicksand-Medium.ttf");
}
