    /*
    Flaticon icon font: Flaticon
    Creation date: 24/10/2016 12:37
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-air-conditioner:before { content: "\f100"; }
.flaticon-air-conditioner-1:before { content: "\f101"; }
.flaticon-balcony:before { content: "\f102"; }
.flaticon-blueprint:before { content: "\f103"; }
.flaticon-blueprint-1:before { content: "\f104"; }
.flaticon-blueprint-2:before { content: "\f105"; }
.flaticon-box:before { content: "\f106"; }
.flaticon-brickwall:before { content: "\f107"; }
.flaticon-brickwall-1:before { content: "\f108"; }
.flaticon-building:before { content: "\f109"; }
.flaticon-building-1:before { content: "\f10a"; }
.flaticon-calculator:before { content: "\f10b"; }
.flaticon-certificate:before { content: "\f10c"; }
.flaticon-chat:before { content: "\f10d"; }
.flaticon-check:before { content: "\f10e"; }
.flaticon-compass:before { content: "\f10f"; }
.flaticon-concrete-mixer:before { content: "\f110"; }
.flaticon-concrete-mixer-1:before { content: "\f111"; }
.flaticon-crane:before { content: "\f112"; }
.flaticon-document:before { content: "\f113"; }
.flaticon-documents:before { content: "\f114"; }
.flaticon-door:before { content: "\f115"; }
.flaticon-driller:before { content: "\f116"; }
.flaticon-elevator:before { content: "\f117"; }
.flaticon-faucet:before { content: "\f118"; }
.flaticon-fence:before { content: "\f119"; }
.flaticon-flash:before { content: "\f11a"; }
.flaticon-garage:before { content: "\f11b"; }
.flaticon-glass-wall:before { content: "\f11c"; }
.flaticon-hammer:before { content: "\f11d"; }
.flaticon-hangar:before { content: "\f11e"; }
.flaticon-heater:before { content: "\f11f"; }
.flaticon-helmet:before { content: "\f120"; }
.flaticon-high-voltage:before { content: "\f121"; }
.flaticon-home:before { content: "\f122"; }
.flaticon-house:before { content: "\f123"; }
.flaticon-house-1:before { content: "\f124"; }
.flaticon-house-2:before { content: "\f125"; }
.flaticon-house-3:before { content: "\f126"; }
.flaticon-house-4:before { content: "\f127"; }
.flaticon-key:before { content: "\f128"; }
.flaticon-ladder:before { content: "\f129"; }
.flaticon-lamp:before { content: "\f12a"; }
.flaticon-letter:before { content: "\f12b"; }
.flaticon-line-chart:before { content: "\f12c"; }
.flaticon-mailbox:before { content: "\f12d"; }
.flaticon-mansion:before { content: "\f12e"; }
.flaticon-measuring-tape:before { content: "\f12f"; }
.flaticon-nail:before { content: "\f130"; }
.flaticon-padlock:before { content: "\f131"; }
.flaticon-padlock-1:before { content: "\f132"; }
.flaticon-paint-brush:before { content: "\f133"; }
.flaticon-paint-roller:before { content: "\f134"; }
.flaticon-parking:before { content: "\f135"; }
.flaticon-parquet:before { content: "\f136"; }
.flaticon-pipe:before { content: "\f137"; }
.flaticon-pipe-1:before { content: "\f138"; }
.flaticon-placeholder:before { content: "\f139"; }
.flaticon-pliers:before { content: "\f13a"; }
.flaticon-plug:before { content: "\f13b"; }
.flaticon-portfolio:before { content: "\f13c"; }
.flaticon-roof:before { content: "\f13d"; }
.flaticon-ruler:before { content: "\f13e"; }
.flaticon-saw:before { content: "\f13f"; }
.flaticon-screw:before { content: "\f140"; }
.flaticon-screw-1:before { content: "\f141"; }
.flaticon-screwdriver:before { content: "\f142"; }
.flaticon-set-square:before { content: "\f143"; }
.flaticon-shovel:before { content: "\f144"; }
.flaticon-skyscraper:before { content: "\f145"; }
.flaticon-smartphone:before { content: "\f146"; }
.flaticon-spatula:before { content: "\f147"; }
.flaticon-switch:before { content: "\f148"; }
.flaticon-tiles:before { content: "\f149"; }
.flaticon-trowel:before { content: "\f14a"; }
.flaticon-truck:before { content: "\f14b"; }
.flaticon-wallpaper:before { content: "\f14c"; }
.flaticon-wheelbarrow:before { content: "\f14d"; }
.flaticon-window:before { content: "\f14e"; }
.flaticon-wrench:before { content: "\f14f"; }
    
    $font-Flaticon-air-conditioner: "\f100";
    $font-Flaticon-air-conditioner-1: "\f101";
    $font-Flaticon-balcony: "\f102";
    $font-Flaticon-blueprint: "\f103";
    $font-Flaticon-blueprint-1: "\f104";
    $font-Flaticon-blueprint-2: "\f105";
    $font-Flaticon-box: "\f106";
    $font-Flaticon-brickwall: "\f107";
    $font-Flaticon-brickwall-1: "\f108";
    $font-Flaticon-building: "\f109";
    $font-Flaticon-building-1: "\f10a";
    $font-Flaticon-calculator: "\f10b";
    $font-Flaticon-certificate: "\f10c";
    $font-Flaticon-chat: "\f10d";
    $font-Flaticon-check: "\f10e";
    $font-Flaticon-compass: "\f10f";
    $font-Flaticon-concrete-mixer: "\f110";
    $font-Flaticon-concrete-mixer-1: "\f111";
    $font-Flaticon-crane: "\f112";
    $font-Flaticon-document: "\f113";
    $font-Flaticon-documents: "\f114";
    $font-Flaticon-door: "\f115";
    $font-Flaticon-driller: "\f116";
    $font-Flaticon-elevator: "\f117";
    $font-Flaticon-faucet: "\f118";
    $font-Flaticon-fence: "\f119";
    $font-Flaticon-flash: "\f11a";
    $font-Flaticon-garage: "\f11b";
    $font-Flaticon-glass-wall: "\f11c";
    $font-Flaticon-hammer: "\f11d";
    $font-Flaticon-hangar: "\f11e";
    $font-Flaticon-heater: "\f11f";
    $font-Flaticon-helmet: "\f120";
    $font-Flaticon-high-voltage: "\f121";
    $font-Flaticon-home: "\f122";
    $font-Flaticon-house: "\f123";
    $font-Flaticon-house-1: "\f124";
    $font-Flaticon-house-2: "\f125";
    $font-Flaticon-house-3: "\f126";
    $font-Flaticon-house-4: "\f127";
    $font-Flaticon-key: "\f128";
    $font-Flaticon-ladder: "\f129";
    $font-Flaticon-lamp: "\f12a";
    $font-Flaticon-letter: "\f12b";
    $font-Flaticon-line-chart: "\f12c";
    $font-Flaticon-mailbox: "\f12d";
    $font-Flaticon-mansion: "\f12e";
    $font-Flaticon-measuring-tape: "\f12f";
    $font-Flaticon-nail: "\f130";
    $font-Flaticon-padlock: "\f131";
    $font-Flaticon-padlock-1: "\f132";
    $font-Flaticon-paint-brush: "\f133";
    $font-Flaticon-paint-roller: "\f134";
    $font-Flaticon-parking: "\f135";
    $font-Flaticon-parquet: "\f136";
    $font-Flaticon-pipe: "\f137";
    $font-Flaticon-pipe-1: "\f138";
    $font-Flaticon-placeholder: "\f139";
    $font-Flaticon-pliers: "\f13a";
    $font-Flaticon-plug: "\f13b";
    $font-Flaticon-portfolio: "\f13c";
    $font-Flaticon-roof: "\f13d";
    $font-Flaticon-ruler: "\f13e";
    $font-Flaticon-saw: "\f13f";
    $font-Flaticon-screw: "\f140";
    $font-Flaticon-screw-1: "\f141";
    $font-Flaticon-screwdriver: "\f142";
    $font-Flaticon-set-square: "\f143";
    $font-Flaticon-shovel: "\f144";
    $font-Flaticon-skyscraper: "\f145";
    $font-Flaticon-smartphone: "\f146";
    $font-Flaticon-spatula: "\f147";
    $font-Flaticon-switch: "\f148";
    $font-Flaticon-tiles: "\f149";
    $font-Flaticon-trowel: "\f14a";
    $font-Flaticon-truck: "\f14b";
    $font-Flaticon-wallpaper: "\f14c";
    $font-Flaticon-wheelbarrow: "\f14d";
    $font-Flaticon-window: "\f14e";
    $font-Flaticon-wrench: "\f14f";