@import "../../../scss/config/colors";

.Portfolio {
  margin-bottom: 300px;

  @media (min-width: 768px) {
    margin-bottom: 180px;
  }

  @media (min-width: 992px) {
    margin-bottom: 200px;
  }

  > .container {
    > .row {
      &:last-child {
        box-shadow: 0 14px 22px 0px gray;
      }
    }
  }
}
